*{
	color: white;
}

body{
	background-image: url("/nice/images/top.jpg");
}

a{
	text-decoration:none;
}

div{
	font-size: 10pt;
	line-height: 10px;
}

.div1{
	height: 74px;
}

h1{
	text-align: center;
}

.iframe1{
	height: 74px;
	width: 70%;
}